@import 'reset';
@import 'color';
@import 'font';

@import 'menu';
@import 'table';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: $white;
  .container {
    height: calc(100vh - 3rem);
  }
}