@import 'reset';
@import 'color';
@import 'font';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: $black;
}